body {
    background: url(/src/images/foodie1.jpeg) no-repeat center center;
    background-size: cover;
    background-image : linear-gradient (0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}

.logo {
    width: 10%;
    margin: 3% 45%;
}

.text-1 {
    margin-right: 70%;
}

.text-2 {
    margin-left: 80%;
}

.sign {
    margin: 35% 0 3% 45%;
    width: 7%;
    padding: 5px 0;
    border-radius: 7px;
    background-color: #F76C5E;
    cursor: pointer;
}

.sign, log, a {
    text-decoration: none;
    color: white;
}

.log {
    margin: 2% 0 45% 45%;
    width: 7%;
    padding: 5px 0;
    border-radius: 7px;
    background-color: #7093C4;
    cursor: pointer;
}

